@model InternshipAnnouncement
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-12">

            <div class="card text-center">
                <div class="card-header">
                    @Model.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <small class="card-subtitle mb-2 text-muted">@Model.Category.CategoryName</small>
                    <p class="card-text">@Model.Explanation <br />@Model.Address?.City.CityName<br />@Model.Address?.District<br />@Model.Address?.AddressLine1<br />@Model.Address?.AddressLine2<br />@Model.Address?.PostalCode<br />@Model.Mail </p>
                    <a href='javascript:history.go(-1)' class="btn btn-primary">Geri Git</a>
                </div>
                <div class="card-footer ">
                    @Model.CreatedDate
                </div>
            </div>
    </div>
</div>

