@model RegisterModel
@{
    ViewData["Title"] = "Create";
}

@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(function () {
            $("input.input-validation-error").closest("form-group").addClass("has-danger"); //inputlarda input-validation-error classina sahip en yakindaki elemanlardan form-group classina sahip olana has-danger classini ekle demis olduk yani validasyondan gecemeyenleri kirmizi yapacak.
        })
    </script>
}

<div class="container">
    <h1>@Localizer["SignUp"]</h1>
    <hr />

    <div class="text-danger" asp-validation-summary="All"></div>

    <form id="createForm" onmousedown="changed(this)" class="p-1 m-1" asp-controller="User" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="UserRealName">@Html.LabelFor(model => model.UserRealName)</label>
            <input asp-for="UserRealName" class="form-control">
            <div><span class="text-danger" asp-validation-for="UserRealName"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="UserSurname">@Html.LabelFor(model => model.UserSurname)</label>
            <input asp-for="UserSurname" class="form-control">
            <div><span class="text-danger" asp-validation-for="UserSurname"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="UserName">@Html.LabelFor(model => model.UserName)</label>
            <input asp-for="UserName" class="form-control">
            <div><span class="text-danger" asp-validation-for="UserName"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Email">@Html.LabelFor(model => model.Email)</label>
            <input asp-for="Email" class="form-control">
            <div><span class="text-danger" asp-validation-for="Email"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Password">@Html.LabelFor(model => model.Password)</label>
            <input type="password" asp-for="Password" class="form-control">
            <div><span class="text-danger" asp-validation-for="Password"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Age">@Html.LabelFor(model => model.Age)</label>
            <input asp-for="Age" class="form-control">
            <div><span class="text-danger" asp-validation-for="Age"></span></div>
        </div>
        <button type="submit" id="createBtn" class="btn btn-primary btn-lg btn-block mb-3">@Localizer["SignUp"]</button>
    </form>

</div>

<script>
    var createBtn = document.getElementById("createBtn");
    createBtn.addEventListener("click", createBtnClicked);
    function createBtnClicked(element) {
        createBtn.hidden = true;
    }

    function changed(element) {
        if (createBtn.hidden === true) {
            createBtn.hidden = false;
        }

    }
</script>