@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-danger" asp-validation-summary="All"></div>





        <div class="card text-center">
            <div class="card-body">
                <form asp-controller="User" asp-action="Login" method="post">

                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                    <div class="container">
                        <img src="~/images/loginPage.png" alt="Avatar" class="rounded mx-auto d-block" width="200" height="200">

                        <div class="form-group mx-sm-5">
                            <label asp-for="UserName"><b>@Html.LabelFor(model => model.UserName)</b></label>
                            <input asp-for="UserName" onclick="changed(this)" class="form-control" placeholder=@Localizer["EnterYourUserName"] required />
                        </div>

                        <div class="form-group mx-sm-5">
                            <label asp-for="Password"><b>@Html.LabelFor(model => model.Password)</b></label>
                            <input asp-for="Password" onclick="changed(this)" class="form-control" placeholder=@Localizer["EnterYourPassword"] required />
                        </div>

                        <div class="text-center">
                            <button id="loginBtn" onclick="loginBtnClicked(this)" class="btn btn-primary btn-lg " type="submit">@Localizer["Login"]</button>
                        </div>
                        @*<label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>*@
                    </div>

                    <div class="container text-lg-center mt-2" @*style="background-color:#f1f1f1"*@>
                        <a asp-controller="User" asp-action="Create">@Localizer["SignUp"]</a>
                    </div>
                    <div class="container text-lg-center mt-2" @*style="background-color:#f1f1f1"*@>
                        <a asp-controller="User" asp-action="IForgetMyPassword">@Localizer["ForgotYourPasswordOrUsername"]</a>
                    </div>
                </form>

            </div>
        </div>

<script>
    var loginButton = document.getElementById("loginBtn");
    function loginBtnClicked(element) {
        element.hidden = true;
    }

    function changed(element) {
        if (loginButton.hidden === true) {
            loginButton.hidden = false;
        }
    }
</script>