@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<form method="post" asp-controller="User" asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="@Model.Token" type="hidden" />
    <input asp-for="@Model.Email" type="hidden" />
    <div class="form-group">
        <label asp-for="@Model.Password">Şifre</label>
        <input asp-for="@Model.Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword">Şifreni Onayla</label>
        <input asp-for="@Model.ConfirmPassword" class="form-control" />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sıfırla</button>
</form>

