@model AnnouncementListAndPaginationModel

@if (Model.Announcements.Count() > 0)
{
    <span class="badge badge-pill badge-primary">@Model.PaginationModel.TotalItem Adet İlan Bulundu</span>
    <div class="row">
        @foreach (var announcement in Model.Announcements)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="cart-title">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@announcement.Id">
                                @if (@announcement.Title.Length > 42)
                                {
                                    @announcement.Title.Substring(0, 42)<h6>...</h6>
                                }
                                else
                                {
                                    @announcement.Title
                                }
                            </a>
                        </h4>
                        <small class="card-subtitle mb-2 text-muted">@announcement.CreatedDate</small>
                        <br />
                        <small class="card-subtitle mb-2 text-muted">@announcement.Category.CategoryName</small>
                        <br />
                        <small class="card-subtitle mb-2 text-muted">@announcement.Address.City.CityName</small>
                        @if (@announcement.Explanation.Length > 55)
                        {
                            <h6 class="text-muted">@announcement.Explanation.Substring(0, 55) ...</h6>
                        }
                        else
                        {
                            <h6 class="text-muted">@announcement.Explanation</h6>
                        }
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-primary btn-sm mb-2" asp-controller="Home" asp-action="Details" asp-route-id="@announcement.Id">İlani Görüntüle</a>
                        <a class="btn btn-outline-primary btn-sm mb-2" href="User/Profile?username=@announcement.User.UserName">Kullanıcı Profilini Gör</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div page-model="@Model" page-action="Index"></div>
}
else
{
    <div class="alert alert-info"> Buraya Henüz İlan Eklenmemiş. </div>
}